@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

/* ============================================
EASY COLOR CUSTOMIZATION
============================================
Change the color values in the :root and .light-mode selectors 
below to easily customize the entire website's theme.
*/

:root {
    /* -- Dark Mode Colors (Default) -- */
    --bg-color: #080808;
    --second-bg-color: #131313;
    --text-color: #ededed;
    --main-color: #9556de;
    --highlight-color: #a792ff;
    --card-bg-color: rgba(0, 0, 0, 0.6);
    --card-border-color: rgba(255, 255, 255, 0.2);
    --header-bg-color: rgba(0, 0, 0, 0.3);
    --header-sticky-bg-color: rgba(0, 0, 0, 0.6);
    --particle-color-rgb: 255, 205, 255; /* For JS canvas */
}

body.light-mode {
    /* -- Light Mode Colors -- */
    --bg-color: #f0f2f5;
    --second-bg-color: #ffffff;
    --text-color: #333333;
    --main-color: #8032d1;
    --highlight-color: #7a29c4;
    --card-bg-color: rgba(255, 255, 255, 0.7);
    --card-border-color: rgba(0, 0, 0, 0.1);
    --header-bg-color: rgba(255, 255, 255, 0.3);
    --header-sticky-bg-color: rgba(255, 255, 255, 0.8);
    --particle-color-rgb: 200, 51, 255; /* For JS canvas */
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color); 
    color: var(--text-color);
    position: relative;
    z-index: 1;
    transition: background-color 0.3s, color 0.3s;
}

/* Canvas background styles */
#canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: var(--bg-color);
    transition: background-color 0.3s;
}

/* --- Universal Section and Heading Styles --- */
section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
    position: relative;
    z-index: 2;
}

.heading {
    text-align: center;
    font-size: 4.5rem;
    margin-bottom: 3rem;
}

.heading span {
    color: var(--main-color);
}

.highlight {
    color: var(--highlight-color);
}

/* --- Header & Navbar --- */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--header-bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: background-color .3s, box-shadow .3s;
    backdrop-filter: blur(5px);
}

.header.sticky {
    background: var(--header-sticky-bg-color);
    box-shadow: 0 .1rem 1rem rgba(0,0,0, .1);
}

.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 500;
    margin-left: 3.5rem;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}

/* --- Theme Toggle Switch --- */
.theme-switch-wrapper {
    margin-left: 3.5rem;
    display: flex;
    align-items: center;
}

.theme-switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 26px;
}

.theme-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--main-color);
    transition: .4s;
    border-radius: 26px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4px;
}

.slider i {
    color:white;
    font-size: 1.6rem;
    transition: opacity 0.3s;
}

.slider .bxs-sun { opacity: 1; }
.slider .bxs-moon { opacity: 0; }

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: var(--main-color);
}

input:checked + .slider:before {
    transform: translateX(24px);
}

input:checked + .slider .bxs-sun { opacity: 0; }
input:checked + .slider .bxs-moon { opacity: 1; }


/* --- Home Section --- */
.home {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 0 9%;
}

.home-content {
    max-width: 60rem;
    background-color: var(--card-bg-color);
    border: .2rem solid var(--card-border-color);
    border-radius: 2rem;
    padding: 3rem;
    backdrop-filter: blur(2px);
}

.home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
    color: var(--main-color);
}

.home-content p {
    font-size: 1.6rem;
    margin: 2rem 0 4rem;
}

.home-img {
    position: relative;
    width: 55rem; 
    height: 55rem; 
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5rem;
}

.home-img img {
    width: 90%;
    border-radius: 50%;
    border: .2rem solid var(--main-color);
    box-shadow: 0 0 2rem var(--main-color);
}

.home-img .circle-spin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top: .2rem solid var(--second-bg-color);
    border-bottom: .2rem solid var(--second-bg-color);
    border-left: .2rem solid var(--main-color);
    border-right: .2rem solid var(--main-color);
    animation: homeSpinner 8s linear infinite;
}

@keyframes homeSpinner {
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.home-sci {
    position: absolute;
    bottom: 4rem;
    width: 200px;
    display:flex;
    justify-content: space-between;
}

.home-sci a {
    position: relative;
    display:inline-flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    background: transparent;
    border: 2px solid var(--main-color);
    border-radius: 50%;
    font-size: 25px;
    color: var(--main-color);
    transition: .5s;
    backdrop-filter: blur(3px);
}

.home-sci a:hover {
    background: var(--main-color);
    color: var(--bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

/* --- Journey Section --- */
.journey {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 5rem;
}

.journey-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.journey-column {
    flex: 1 1 40rem;
}

.journey-column .title {
    font-size: 2.5rem;
    margin: 0 0 1.5rem 2rem;
}

.journey-box {
    border-left: .2rem solid var(--main-color);
}

.journey-content {
    position: relative;
    padding-left: 2rem;
}

.journey-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: -1.1rem;
    width: 2rem;
    height: 2rem;
    background: var(--main-color);
    border-radius: 50%;
}

.journey-content .content {
    position: relative;
    padding: 1.5rem;
    border: .2rem solid var(--card-border-color);
    background-color: var(--card-bg-color);
    border-radius: 1.5rem;
    margin-bottom: 2rem;
    backdrop-filter: blur(3px);
}

.journey-content .content .year {
    font-size: 1.5rem;
    color: var(--main-color);
    padding-bottom: .5rem;
}

.journey-content .content .year i {
    padding-right: .5rem;
}

.journey-content .content h3 {
    font-size: 2rem;
}

.journey-content .content p {
    font-size: 1.6rem;
    padding-top: .5rem;
}

/* --- Skills Section --- */
.skills {
    min-height: auto;
    padding-bottom: 7rem;
}

.skills-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}
.skills-column {
    flex: 1 1 40rem;
}
.skills-column .title {
    font-size: 2.5rem;
    margin: 0 0 1.5rem;
}
.skills-box .skills-content {
    position: relative;
    border: .2rem solid var(--card-border-color);
    border-radius: 1.5rem;
    padding: .5rem 1.5rem;
    background-color: var(--card-bg-color);
    backdrop-filter: blur(3px);
}

.skills-content .progress {
    padding: 1rem 0;
}
.skills-content .progress h3 {
    font-size: 1.7rem;
    display: flex;
    justify-content: space-between;
}
.skills-content .progress h3 span {
    color: var(--text-color);
    opacity: 0.7;
}
.skills-content .progress .bar {
    height: 2.5rem;
    border-radius: .6rem;
    border: .2rem solid var(--main-color);
    padding: .5rem;
    margin: 1rem 0;
}
.skills-content .progress .bar span {
    display: block;
    height: 100%;
    border-radius: .3rem;
    background: var(--main-color);
}

/* --- Projects Section --- */
.projects {
    padding-bottom: 7rem;
}

.project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 40px;
    padding: 20px;
    border-radius: 1.5rem;
    background-color: var(--card-bg-color) ;
    backdrop-filter: blur(3px);
    border: .2rem solid var(--card-border-color);
}

.project-card img {
    max-width: 800px;
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.project-info {
    max-width: 1000px;
    text-align: center;
}

.project-info h3 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.project-info p {
    font-size: 1.6rem;
    color: var(--text-color);
    opacity: 0.9;
}

/* --- Footer --- */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
    position: relative;
    z-index: 2;
}

.footer-text p {
    font-size: 1.6rem;
}

.footer-iconTop a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
}
.footer-iconTop a i {
    font-size: 2.4rem;
    color: var(--bg-color);
}

/* --- Responsive Styles --- */
@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px) {
    .header {
        padding: 2rem 3%;
    }
    section {
        padding: 10rem 3% 2rem;
    }
    .footer {
        padding: 2rem 3%;
    }
    .home {
        flex-direction: column-reverse;
        text-align: center;
    }
    .home-img {
        margin: 2rem 0 4rem;
    }
}

@media (max-width: 768px) {
    #menu-icon {
        display: block;
    }
    .navbar {
        position: absolute;
        top: 100%;
        left: -100%;
        width: 100%;
        padding: 1rem 3%;
        background: var(--header-sticky-bg-color);
        box-shadow: 0 .5rem 1rem rgba(0,0,0, .2);
        transition: .25s ease;
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar.active {
        left: 0;
    }
    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
    .theme-switch-wrapper {
        margin: 1rem 0 3rem 0;
    }
    .home {
        padding: 10rem 4% 2rem;
    }
    .home-img {
        width: 30rem;
        height: 30rem;
    }
    .home-content h1 {
        font-size: 5rem;
    }
    .home-sci {
        position: static;
        width: 100%;
        justify-content: center;
        gap: 2rem;
        margin-top: 2rem;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }
    .home-img {
        width: 25rem;
        height: 25rem;
    }
}

